 body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(to  bottom right, rgb(233, 216, 216), rgb(63, 34, 141));
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	  monospace;
}
#root {
	border: 1px grey solid;
	width: 700px;
	margin: auto;
}
#app {
	display: flex;
	flex-direction: column;
}
#display {
	display: flex;
	background-color: grey;
	height: 100px;
	font-weight: bold;
	color: white;
	padding: 5px;
	font-size: 40px;
	text-align: right;
	align-items: center;
	justify-content: flex-end;
	background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
	animation: slidebg 5s linear infinite;
}
@keyframes slidebg {
	to {background-position: 20vw}
}

#button {
	width: 25%;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #bfbebe;
	font-weight: bold;
}

.widthStyle {
	flex: 2;
}
#button-panel div[class*='group'] {
	height: 100px;
	display: flex;
	flex-direction: row;
}
#button-panel div[class*='group'] Button:hover {
	background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
	animation: slidebg 5s linear infinite;
}
#button-panel div[class*='group'] Button:active {
	background-color: orange;
    transform: translateY(2px);
}

/* #button-panel div[class*=group] Button{

} */

.result {
	width: 95%;
}
